.container {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.293);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .wrapper {
  width: 350px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 8px;
}

.wrapper h1 {
  font-size: 28px;
  padding: 6px;
  text-align: center;
  background-color: purple;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.wrapper .errorMsg {
  text-align: center;
  padding: 12px 18px;
}

.wrapper .closeBtn {
  padding: 8px 12px;
  font-weight: bold;
  background-color: purple;
  display: block;
  margin: auto;
  margin-bottom: 8px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  border: none;
}
.wrapper .closeBtn:hover {
  background-color: rgba(128, 0, 128, 0.848);
}
